# Spring
SPRING_APPLICATION_NAME=JobHunter
SPRING_PROFILES_ACTIVE=development

# Database
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/jobhunter
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# DevTools
SPRING_DEVTOOLS_RESTART_ENABLED=true

# Multipart upload
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=50MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=50MB

# Pagination
SPRING_DATA_WEB_PAGEABLE_ONE_INDEXED_PARAMETERS=true

# Mail
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

# JWT
JOBHUNTER_JWT_BASE64_SECRET=
JOBHUNTER_JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS=864000
JOBHUNTER_JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS=864000

# Upload file
JOBHUNTER_UPLOAD_FILE_BASE_URI=file:///path/to/upload/
# Docker Compose
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=jobhunter

